header{
  display: flex;
  background-color: #f5f8fa;
}

.maintitle{
  margin-top: 25px;
  margin-left: 10px;
}

.login{
   margin: 25px 40px;
}

body {
  background-color: #E9EBEE;
}
/* .wrapper {
  background-color: #E9EBEE;
} */

.row{
  display:  inline-block;
}

.main {
  display: inline-block;
  text-align: center;
  font-family: 'San Francisco', 游ゴシック体, YuGothic, メイリオ, Meiryo;
}

.honbun{
  margin-top: 30px;
  margin-bottom: 12px;
}

.label{
  vertical-align: top;
  margin-right: 5px;
  color: inherit;
}

.toukou{
    border-top: 1px solid;
    margin: 40px auto;
    /* max-width: 975px; */
}
