header{
  display: flex;
  background-color: #f5f8fa;
}

.maintitle{
  margin-top: 25px;
  margin-left: 10px;
}

.login{
   margin: 25px 40px;
}

body {
  background-color: #E9EBEE;
}
/* .wrapper {
  background-color: #E9EBEE;
} */

.row{
  display:  inline-block;
}

.main {
  display: inline-block;
  text-align: left;
  font-family: 'San Francisco', 游ゴシック体, YuGothic, メイリオ, Meiryo;
}

.honbun{
  margin-top: 30px;
  margin-bottom: 12px;
}

.label{
  vertical-align: top;
  margin-right: 5px;
  color: inherit;
}

/* partial.feed topのところに反映される */
.toukou{
    /* border-top: 1px solid;
    margin: 40px auto; */
    /* max-width: 975px; */
      padding: 0.5em 1em;
      margin: 2em 0;
      color: #5d627b;
      background: white;
      border-top: solid 5px #5d627b;
      box-shadow: 0 3px 5
}

/* post_answer 投稿内容 */
.question-content{
    position: relative;
    margin: 2em 0;
    margin-right: 20px;
    padding: 0.5em 1em;
    border: solid 3px #5d627b;


}
.question-content .box-title{
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #5d627b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;

}


/* post_answer 投稿の回答 */
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5
}
.box1 p {
    margin: 0;
    padding: 0;
}

.answer-content{
    margin-right: 20px;
}
